extends layout

block header
  header.text
    h2 Badge scanning

block content
  section.badge-scans

    p Number of users which allow badge scanning:
      b #{' ' + badgeScanningAllowed + ' / ' + totalUsers} (#{Math.round(badgeScanningAllowed / totalUsers * 1000) / 10}%)
    hr

    for account in scannerAccounts
      .badge-scans-table.offset-by-three.six.columns
        h5= account.surname
        | Number of scans:
        b= ' ' + account.scans.length
        table.badge-scans.table
          thead
            th Time
            th Name
            th Study programme
            th Association
            th Comment
          tbody
            for scan in account.scans
              tr
                td= scan.scan_time_string
                td
                  a(href='/users/' + scan.user._id)= scan.user.firstname + ' ' + scan.user.surname
                td= scan.user.studyProgramme
                td= associations[scan.user.vereniging].name
                td= scan.comment

        a.button.button-primary(href='/badge-scanning/export-csv/' + account.id) Export CSV
        hr

