extends layout

block above-content

block header
  header.text
    h2 Profile

block content
  section.profile
    h2= ucfirst(user.firstname) + ' ' + user.surname +' ('+ verenigingen[user.vereniging].name +')'

    br(clear='all')
    h4 Congress
    hr
    form.form.form-profile#settings(method='post')
      p.text-center
        | Download your ticket #[a(href='/ticket', target='_blank') here].
        | Please bring it along to the conference on your phone or in print.
      p.text-center You can enroll for sessions in the schedule page.
      br
      if user.type == 'student'
        h4 Companies
        hr
        .form-group
          p
            | To allow you to connect better with companies, we introduce a new badge scanning system
            | which allows you to share your name, email address, and study programme. You can share this
            | information with a company by letting them scan your badge.
            | However, we only share this information with your permission.
          br

          .checkbox
            label(for='allowBadgeScanning')
              input#allowBadgeScanning(type='checkbox', name='allowBadgeScanning', checked=user.allowBadgeScanning? "checked": undefined)
              | Allow my badge to be scanned by companies

          //- p
          //-     | To allow students to get to know companies better, we offer several
          //-     | speed dating sessions with the participating companies. When you sign up for speed dating,
          //-     | you will get private conversation of around 5 minutes with each participating company.
          //-     | There are 6 participating companies in total:
          //-     ul#speeddate-companies
          //-       li Quintor
          //-       li Achmea
          //-       li ChipSoft
          //-       li DSW
          //-       li ING
          //-       li Nedap

          if spTimeSlot
            p You are signed up for speed dating in timeslot: #[b=spTimeSlot.name]
          else if allSpTimeSlots.length > 0 && user.admin
            if freeSpTimeSlots.length > 0
              p
                | You can sign up for speed dating by choosing a timeslot below and
                | pressing the 'Save settings' button.
              br
              label(for='speedDateTimeSlot') Select speed date timeslot:
              .select-wrapper
                select.form-control(id='speedDateTimeSlot', name='speedDateTimeSlot')
                  option(value='', selected) Select...
                  for ts in freeSpTimeSlots
                    option(value=ts.id)=ts.name
            else
              p
                b Unfortunately, there are no more free speed date timeslots.
          else
            p You can select the timeslots for speed dating on a later date.


        if userHasBus
          h4 Bus
          hr
          p
            | For some study associations which are further away from the location,
            | we offer a bus which will bring you to the location and back to your city after the conference.
          br
          .checkbox
            label(for='bus')
              input#bus(type='checkbox',name='bus',checked=user.bus?'checked':undefined)
              | I would like to use the arranged bus at my study association

      h4 Diets
      hr
      .form-group
        .checkbox
          label(for='vegetarian')
            input#vegetarian(type='checkbox',name='vegetarian', checked=user.vegetarian? "checked": undefined)
            | I am a vegetarian

      .form-group
        label(for='specialNeeds') Other remarks (e.g. allergies)
        input.form-control(type='text', name="specialNeeds", value=user.specialNeeds)

      hr
      button.button.special(type='submit') Save settings


