extends layout

block above-content

block header
  header.hero.register
    h2 Register

block content
  .section.intro.slanted
    .content
      .register
        p You can buy a ticket with an activation code at your study association. You can print out your ticket after you've registered. Preferences for lectures, diets and other remarks can be changed after the registration has been completed.

      if new Date(ticketSaleStarts).getTime() < Date.now()
        form.form-register(method='POST')
          legend(hidden) Registration
          .form-group.center
            label(for='code') Ticketcode
            input.form-control( type='text', name='code', autofocus, required, value=body.code)
          .form-group
            label(for='firstname') First name
            input.form-control( type='text', name='firstname', required, value=body.firstname)
          .form-group
            label(for='surname') Surname
            input.form-control( type='text', name='surname', required, value=body.surname)
          .form-group
            label(for='vereniging') Association
            .select-wrapper
              select.form-control(id='vereniging', required, name='vereniging')
                option(value='', selected) Select...
                each vereniging, shortName in verenigingen
                  option(value=shortName, selected = body.vereniging==shortName ? 'selected' : undefined)=vereniging.name
          .form-group(style='display:none', id="bus-form-group")
              .checkbox
                label(for='bus')
                  input#bus(type='checkbox', name='bus', checked=body.bus?'checked': undefined)
                  | I would like to use the arranged bus at my study association
          .form-group(id='programme-group')
            label(for='programme') Study programme
            .select-wrapper
              select.form-control(id='programme', required, name='programme')
                option(value='', selected) Select...
                each programme in studyProgrammes
                  option(value=programme, selected = body.programme==programme ? 'selected' : undefined)=programme
                option(value="other" id="study-programme-other", selected = body.programmeOther ? 'selected': undefined) Other
          .form-group(style='display:none', id='programme-other-group')
            label Please enter the name of your study programme
            input.form-control(type='text', name='programmeOther', value=body.programmeOther)
          .form-group(style='display:none', id='company-name-group')
            label Company name
            input.form-control(type='text', name='companyName', id='company-name', value=body.companyName)
          .form-group
            .checkbox
              label(for='vegetarian')
                input#vegetarian(type='checkbox',name='vegetarian', checked=body.vegetarian? "checked": undefined)
                | I am a vegetarian
          .form-group
            label(for='specialNeeds') Other remarks (e.g. veganism, allergies)
            input.form-control(type='text', name="specialNeeds", value=body.specialNeeds)
          .form-group
            label(for='email') Email
            input.form-control( type='email', name='email', required, value=body.email)
          .form-group
            label(for='password') Password
            input.form-control(required. type='password', required, name='password')
          .form-group
            label(for='confirm') Confirm password
            input.form-control( type='password', required, name='confirm')
          .form-group
              .checkbox
                label(for='privacyPolicyAgree')
                  input#privacyPolicyAgree(type='checkbox', name='privacyPolicyAgree', checked=body.privacyPolicyAgree? "checked" : undefined)
                  | I agree with the #[a(href='/Privacy_Policy.pdf', target='_blank') Privacy Policy] and #[a(href='/Voorwaarden.pdf', target='_blank') General Requirements].
          .form-group
            .checkbox
              label(for='subscribe')
                input#subscribe(type='checkbox',name='subscribe', checked='checked')
                | Subscribe for the mailinglist. We will mail you when you can enroll for sessions and last minute practical information. (You can deregister at any moment)
          button.button.special(type='submit') Register now

      else
        .alert.alert-info
          .icon.fa.fa-info

          - months = ['january', 'february', 'march', 'april', 'may','june','july','august', 'september','november','december'];

          div= 'You can activate your ticket here from ' +  {date: new Date(ticketSaleStarts).getDate() + ' ' + months[new Date(ticketSaleStarts).getMonth()] } + ' onwards!'

block footer
  script(type="text/javascript").
    var verenigingen = !{JSON.stringify(verenigingen)};

    function docReady(fn) {
      // see if DOM is already available
      if (document.readyState === "complete" || document.readyState === "interactive") {
          // call on next available tick
          setTimeout(fn, 1);
      } else {
          document.addEventListener("DOMContentLoaded", fn);
      }
    }

    function updateVisibility() {
      var bus = $("#bus-form-group");
      var index = $("#vereniging").val();
      var vereniging = verenigingen[index];
      if (vereniging && vereniging.bus)
        bus.show();
      else
        bus.hide();

      var isPartner = vereniging && vereniging.name === 'Partner'
      if (isPartner) {
        $("#company-name-group").show();
        $("#company-name").prop("required", true);
        $("#programme-group").hide();
        $("#programme-other-group").hide();
        $("#programme").prop("required", false);
      } else {
        $("#company-name-group").hide();
        $("#company-name").prop("required", false);

        $("#programme-group").show();
        $("#programme").prop("required", true);

        if ($("#programme").val() === 'other') {
          $("#programme-other-group").show();
          $("#programme-other").prop("required", true);
        } else {
          $("#programme-other-group").hide();
          $("#programme-other").prop("required", false);
        }
      }
    }

    docReady(function () {
      $("#vereniging").on('change', updateVisibility);
      $("#programme").on('change', updateVisibility);

      updateVisibility();
    });

