extends layout

block above-content

block header
  header.text
    h2 Time table

block content
    p
        | The schedule of ResilIT 2019. Click on a talk to get more information and to add it to your favorites!

    h2(style="text-align: center; margin-top: 1.5em;") Programme
    hr(style="width: 80vw;")
    div(class="program-table")
        .container
        a#program.anchor
        .row
            .col-lg-12.text-center
                .table-responsive
                    table#program-table.table
                        thead
                            tr
                                th
                                for track in timetable.tracks
                                    th(style="text-align:center")
                                        h4=track.name
                        tbody
                            tr
                                td
                                for track in timetable.tracks
                                    td(class="location-text")
                                        h6=track.location
                            - var currentTalks = {};
                            for time in timetable.intervals
                                tr
                                    td
                                        small=time
                                    for track in timetable.tracks
                                        - var used = false
                                        for talk in track.talks
                                            if talk.startTimeDisplay === time
                                                - used = true
                                                td#program-table.talk-column(rowspan=talk.length)
                                                    - currentTalks[track.trackId] = talk.length
                                                    // TODO: add dynamic speaker links.
                                                    a(href="/speakers")
                                                        h4=talk.title
                                                        h6=talk.subTitle
                                                    - var timeText = talk.startTimeDisplay + " - " + talk.endTimeDisplay;
                                                    small=timeText
                                                    p
                                                - break
                                        unless currentTalks[track.trackId]
                                            td
                                -
                                    for(var track in currentTalks) {
                                        if(currentTalks[track] <= 1) {
                                            delete currentTalks[track];
                                        } else {
                                            currentTalks[track] = currentTalks[track] - 1;
                                        }
                                    }