extends ../layout

mixin session(speaker, count, host)
  if speaker
    span(class="speaker-anchor" id=speaker.id)
    div(class="session", class={"keynote": typeof speaker.keynote !== 'undefined'})
      h3!= speaker.name
      if speaker.company
        h4(class=speaker.id)!= speaker.company
      else
        p(class=speaker.id)
      if speaker.image
        if host
          div.host-image
            img(src=speaker.image class="speaker-image")
        else
          img(src=speaker.image class="speaker-image")
      if speaker.images
        for image in speaker.images
          img(src=image class="speaker-image-multiple")
      if speaker.special
        p(class="speaker-page-p")!= speaker.special
      if speaker.subject
        if speakers.talk
          if speakers.talk.length != 0
            h2 Subject
        h5!= speaker.subject
      if speaker.talk
        .shorten
          each part in speaker.talk
            p(class="speaker-page-p")!= part
      if speaker.bio && speaker.bio.length != 0
        h5 Biography
        .shorten
          each part in speaker.bio
            p(class="speaker-page-p")!= part
      if speaker.limit - count == 0
        p(style={color:'#C8102E', 'text-align': 'center'}) This session is already full
      else
        if speaker.limit - count < 50
          p(style={color:'#C8102E', 'text-align': 'center'}) There are only #{speaker.limit - count} seats left
    hr

block above-content

block content
  section.intro.slanted
    .content
      h2 Hosts
      hr
      .timetable
        each presenter in presenters
          +session(presenter, NaN, true)

      h2 Speakers
      hr
      .timetable
        div(class="program-tracks session")
            h1 Grand Technical Challenges
        div(class="program-tracks session")
            h1 Societal Impact
        div(class="program-tracks session")
            h1 Experience the Singularity
        each speaker in speakers
            +session(speaker, idx)
