extends ../layout

mixin session(speaker, host)
  if speaker
    span(class="speaker-anchor" id=speaker.id)
    div(class="session", class={"keynote": typeof speaker.keynote !== 'undefined'})
      h3!= speaker.name
      if speaker.company
        h4(class=speaker.id)!= speaker.company
      else
        p(class=speaker.id)
      if speaker.image
        div.speaker-image-container
          img(src=speaker.image class="speaker-image")
      if speaker.images
        for image in speaker.images
          img(src=image class="speaker-image-multiple")
      if speaker.special
        p(class="speaker-page-p")!= speaker.special
      if speaker.subject
        if speakers.talk
          if speakers.talk.length != 0
            h2 Subject
        h5!= speaker.subject
      if speaker.talk
        .shorten
          each part in speaker.talk
            p(class="speaker-page-p")!= part
      if speaker.bio && speaker.bio.length != 0
        h5 Biography
        .shorten
          each part in speaker.bio
            p(class="speaker-page-p")!= part
    hr

block above-content

block content
  section.intro.slanted
    .content
      if settings.showTrackNames
        .timetable
          for track in settings.tracks
            div(class="program-tracks session")
                h1=track
      if settings.showHosts
        h2 Hosts
        hr
        .timetable
          each presenter in presenters
            +session(presenter, true)

      h2 Speakers
      hr
      .timetable
        each speaker in speakers
            +session(speaker)
