extends ../layout

mixin do_partner(partner)
  .box
    -
      var clickLink = partner.website;
      if (partner.title) {
        clickLink = "/partners/" + partner.title.toLowerCase();
      }
    a(href= clickLink, target='_blank')
      img(src=partner.image)
    if partner.description
      p=partner.description
      div.readmore
        a.white(href=clickLink)
          strong="Read more"


block content
  #talkModal.modal
    #talkModalContent.modal-content
        .modal-header
            span.close &times;
            h2#ModalTitle Modal Header
        .modal-body
            .speaker-info
                div
                    image#ModalImage.speaker-image
                div(style="margin-top: 10px;")
                    button#SpeakerButton.speaker-button
            p#ModalContent Body!

  section.intro.slanted(style="margin-top: 20px;")
    .content
      h2 "Making it possible"
      .separator(role='separator')
      p
        | We are proud to present you our partners for this years' ResilIT conference. Without their generous efforts, it would be impossible to organize this event.
  if partners.platinum
    section#platinum.slanted.background-snic
      .content.container
        .row
          .twelve.colunms
            h2 Platinum partner
            .separator(role='separator')
            -
              partner = partners.partners[partners.platinum[0]]
            .box
              a(href=partner.website, target='_blank')
                img(src=partner.darkimage)
            p=partner.description
              -
                var link = "/partners/" + partner.title.toLowerCase();
            div.readmore
              a.white(href=link)
                strong Check out the company profile.
  section#gold.slanted.background-gold
    .content.container
      - partners.gold = partners.gold.sort(function() { return 0.5 - Math.random() });
      .row
        .twelve.colunms
          h2 Gold partners
          .separator(role='separator')
      for partner, index in partners.gold
        - partner = partners.partners[partner]
        if index % 2 == 0
          <div class="row">
            .offset-by-two.four.columns
              +do_partner(partner)
        else
            .four.columns
              +do_partner(partner)
            </div>
  if partners.silver
    section#silver.slanted.background-silver
      - partners.silver = partners.silver.sort(function() { return 0.5 - Math.random() });
      .content.container
        .row
          .twelve.colunms
            h2 Silver partners
            .separator(role='separator')
        for partner, index in partners.silver
          - partner_data = partners.partners[partner]
          if index % 3 == 0
            <div class="row">
          .four.columns
            +do_partner(partner_data)
          if (index % 3 === 2 || index === partners.silver - 1)
            </div>
  if partners.bronze
  section#other.slanted
    - partners.bronze = partners.bronze.sort(function() { return 0.5 - Math.random() });
    .content.container
      .row
        .twelve.colunms
          h2 Bronze partners
          .separator(role='separator')
      for partner, index in partners.bronze
        - partner = partners.partners[partner]
        if index % 2 == 0
          <div class="row">
            .six.columns
              +do_partner(partner)
        else
          .six.columns
            +do_partner(partner)
          </div>
